

<!--  <script>
    folders = Array({{folders}}.charCodeAt(0))
    files = Array({{files}}.charCodeAt(0))
    heirarchy = document.querySelector('#heirarchy');
    for (var i = folders.length - 1; i >= 0; i--) {
      temp = document.createElement("li")
      temp.innerHTML = '<a href="{{pth}}/'+folders[i]+'"></a>';
      temp.class = 'folder'
      heirarchy.appendChild(temp)
    }
    for (var i = files.length - 1; i >= 0; i--) {
      temp = document.createElement("li")
      temp.innerHTML = '<a href="{{pth}}'+files[i]+'">'+files[i]+'</a>';
      temp.class = 'file'
      heirarchy.appendChild(temp)
    }
  </script> -->
</head>
<body>


</body>
</html>